[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tk = "*"
pillow = "*"
pymysql = "*"
tkcalendar = "*"
validate-email = "*"
py3dns = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.9"
